body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li
{
  list-style-type: none;
}
.content1
{
  /* padding-left: 15px; */
}
/* .content
{
  padding-right: 20px;
} */
.custom
{
  background-color: white;
}
tr
{
  /* text-align:right; */
}
.icon
{
  margin-left: 15px;
  background-color: white;
  border-radius: 10px;
}
.logo-size {
  height: 100px;
  width: 250px;
}
.table_details{
  border:  2px solid #508FF4;
}
.iconChange
{
  margin-right: 10px;
}
.num
{
  margin-left: 50px;
  float: right;
}
.pic1
{
  text-align: left;
}
.pic2
{
  text-align: right;
}
.line
{
  margin-left: 66px;
  position: relative;
  bottom: 2px;}

.color1
{
  background-color:aliceblue;
  width: 450px;
  height:40px;
}
.color2
{
  background-color:oldlace;
  width: 450px;
  height:40px;
  float:right;
}
.unread
{
  float: left;
}
.contact
{
  margin-right: 170px;
}
.nav
{
  background-color: royalblue;
  width:5vw;
  border-radius: 20%;
}

.likes
{
  padding-left: 40px;
}
